body{
  background: url("/media/background2.jpg") no-repeat top center;
  background-size: 100%;
  min-width: 700px;
}
.container{
  margin:0;
  width: 100%;
  padding: 0;
}
.row{
  margin: 0;
  padding: 0;
}

#header{
  text-align: center;
  background-color: rgba(51, 102, 153,0.3);
  font-size:35px;
  margin: 0;
}
#header li{
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  /*font-weight: bold;*/
}

.home_sentence h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
}


#project_list{
  background-color: rgba(51, 102, 153,0.3);
  height: calc(100vh - 50px);
  font-size: 24px;
}
#project_list li{
  font-family: 'Fjalla One', sans-serif;
  list-style-type: none;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 10px;
}

#ttt_page{
}
