body{
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
  min-width: 1200px;
  background-attachment: fixed;
}
.container{
  margin:0;
  width: 100%;
  padding: 0;
}
.row{
  margin: 0;
  padding: 0;
}

#header{
  text-align: center;
  background-color: rgba(51, 102, 153,1);
  font-size:45px;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}
#header li{
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  color:white;
  position: relative;
  /*font-weight: bold;*/
}
.head_button{
  color:#333333;
}
.head_button:hover{
  color:white;
}
#content{
  margin-top:64px;
}
#home_page{
  margin-bottom: 100px;
}
#head_top{
  padding-top: 100px;
}

.home_sentence h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 60px;
}


#project_list{
  background-color: rgba(51, 102, 153,0.3);
  height: calc(100vh - 60px);
  font-size: 32px;
}
#project_list li{
  font-family: 'Fjalla One', sans-serif;
  list-style-type: none;

  font-weight: bold;
  margin-top: 15px;
  margin-left: 10px;
}
#project_list li:hover{
  color:white;
}
#powder_page{
  text-align: center;
  margin-top: 20%;
  font-size: 64pt;
  color:#000000;
}

a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
}

#about_page{
  background-color: rgba(255, 255, 255,.5);
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
#about_page h1{
  padding-top: 50px;
  font-size: 35pt;
  font-weight: bold;
  border-bottom: solid 2px;
  border-color: #336699;
  padding-bottom: 15px;
}
#about_content{
  padding-top:5px;
  padding-bottom:0px;
}
#about_page p{
  font-size: 30px;
  padding-bottom: 10px;
}
#about_page address{
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 4px;
  border-top: solid 2px;
  border-color: #336699;
}
#social{
  border-top: solid 2px;
  border-color: #336699;
  padding-top:10px;
  padding-bottom: 15px;
}
.social{
  font-size: 2em;
}
.social-github{
  /*background: url("/images/GitHub_Logo.png") no-repeat;*/
  /*background-size: 100px;*/

}


@media (max-width: 1200px) {
  #about_page p{
    font-size: 22px;
    padding-bottom: 8px;
  }
}
@media (max-width: 900px) {
  .home_sentence h2{
    font-size: 40px;
  }
  #about_page p{
    font-size: 18px;
    padding-bottom: 5px;
  }
  /*body{
    background: white;
  }*/
}
@media (max-width: 750px) {
  .home_sentence h2{
    font-size: 30px;
  }
  #about_page p{
    font-size: 16px;
    padding-bottom: 2px;
  }
}
