#head{
  text-align: center;
  font-size: 3em;
  background-color: #00aa00;
  border-radius: 20px;
  margin-top: 20px;
}
#chatbox{
  margin-top: 20px;
  height: 490px;
  background-color: #00aa00;
  border-radius: 20px;
}
#messagesDiv{
  padding-top:10px;
}

.box{
  height: 100px;
  width: 100%;
  background-color: green;
  margin-top:20px;
  font-size: 5em;
  text-align: center;
  border-radius: 20px;
}
#local{
  background-color: #00aa00;
  height:100%;
  border-radius: 20px;
  font-size: 4em;
  text-align: center;
  margin-top: 20px;
}
#network{
  background-color: #00aa00;
  height:100%;
  border-radius: 20px;
  font-size: 4em;
  text-align: center;
  margin-top:20px;
}
#compute{
  background-color: #00aa00;
  height:100%;
  border-radius: 20px;
  font-size: 4em;
  text-align: center;
  margin-top:20px;
}

#foot, #lfoot, #cfoot{
  background-color: #00aa00;
  font-size: 1.5em;
  margin-top: 20px;
  border-radius: 25px;
}

